---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 16px/23px $helveticaNeue;
  color: $darkerGray;
  text-align: justify;
  text-justify: inter-word;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 10px;
  width: 100%;
}

.logo {
  margin: 0 auto;
  max-width: 980px;
  padding: 10px 10px;
  width: 100%;
  height: 300px;
}

.vcenter-image
{
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $inkblue;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
  
h1 {  
  font-size: 50px;
  margin: 50px 0;
  a {
    color: $inkblue;
    &:hover {
      color: $darkRed;
    }
  }
}

.post h1 {
  font-size: 40px;
  letter-spacing: -.03em;
  line-height: 1.1;
}

#home .post {
  width: 420px;
  float: left;
  vertical-align: top;
  margin: 0 20px 10px 20px;
  height: 360px;
  overflow: hidden;
  @include mobile {
    margin: 0 20px;
    width: 300px;
  }
}

#home .post h1 {
  font-size: 24px;
  line-height: 1.2;
  min-height: 40px;
  margin: 0 0 12px 0;
  letter-spacing: normal;
  font-weight: 700;
  text-align: left;
}

#home .post h2,h3,h4,h5 {
  color: $darkGray;
}

a.site-header {
  font-size: 60px;
  line-height: 62px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: -.03em;
  color: $darkGray;
  @include mobile {
    margin: 10px 10px 0;
  }
}

#home h1.site-name {
  font-size: 72px;
  line-height: 74px;
  font-weight: 700;
  max-width: 600px;
  margin-top: 30px;
  margin-bottom: 20px;
  letter-spacing: -.03em;
  a {
    color: $darkGray;
  }
  @include mobile {
    margin: 30px 20px 0;
  }
}

h2 {  
  font-size: 24px;
  margin: 48px 0 12px;
}

h3 {  
  font-size: 20px;
  margin: 40px 0 10px;
}

h4 {  
  font-size: 18px;
  color: $gray;
  margin: 36px 0 9px;
}

p {
  margin: 15px 0;
}

#home p.site-description {
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  max-width: 310px;
  margin-bottom: 120px;
  @include mobile {
    margin: 30px 20px 60px 20px;
  }
}
#home .entry p {
  color: $darkerGray;
}

a {
  color: orangered;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $darkRed;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: $darkGray;
}

blockquote {
  margin: 1.8em .8em;
  padding: 0.1em 1em;
  background-color: $xlightGray;
  font-family: $helveticaNeue;
}

img {
  max-width: 100%;
}

table {
    background-color: transparent
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left
}

th {
    text-align: left
}

table {
    max-width: 90%;
    margin-bottom: 20px;
    border: 1px solid #dedede;
}
table > thead > tr > th {
    padding: 8px 8px 8px 8px;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-transform: none;
    background-color: #777;
    color: white;
    text-align: left;
}
table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
table > tbody > tr:nth-of-type(even) {
    background-color: #ffffff;
}
table > tbody > tr {
    display: table-row;
    vertical-align: middle;
    border-color: inherit;
}
table > tbody > tr > td {
    padding: 8px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.date {
  font-size: 80%;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.content-wrapper {
  min-height: 600px;
}
.masthead {
  padding: 20px 0 0;
  border-bottom: 1px solid $lightGray;
  @include mobile {
    text-align: center;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 14px;
  font-family: $helveticaNeue;
  
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 32px;
  font-family: $helveticaNeue;
  font-weight: bold;
  font-size: 24px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
  }

  a {
    margin-left: 20px;
    color: $gray;
    /*width: 225px;*/
    display: block;
    float: right;

    @include mobile {
      display: inline-block;
      float: none;
      margin: 0 10px;
      color: $darkGray;
      width: 150px;
      text-align: left;
    }
  }
}

article {
  @include mobile {
    margin: 0 20px;
  }
}

.post { 
  blockquote {
    margin: 1.8em .8em;
    border-left: 1px dotted $gray;
    padding: 0.1em 1em;
    color: $gray;
  }

  .eyebrow {
    font-size: 16px;
    line-height: 30px;
    color: $gray;
    padding-top: 6px;
    margin-bottom: 6px;
    border-top: 1px solid $medGray;
  }

  .comments {
    margin-top: 10px;
  }

  .small-link {
    font-size: 11px;
    color: $medGray;
    display: block;
      &:hover {
        color: $red;
      }
  }
  .large-link {
    font-size: 20px;
    color: $darkGray;
    font-weight: 500;
  }
  .primary-link {
    color: #000;
    font-size: 13px;
    font-weight: 500;
  }
  .spacer {
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid $lightGray;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
